:root {
    --grid-vh: 20vh;
}
  
body,
html {
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
    font-size:16px;
    justify-content: center;
    margin: 0px; padding: 0px;
    background-color: rgba(12, 45, 72, .65);
}

footer {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 5px auto;
    background-color: rgb(211, 134, 26);
    padding: 0px 0px;
}

p {
    padding: 0;
    margin: 0 0;
}

.hidden {
    display: none;
}

.right-me-v {
    text-align: right;
    justify-content: right;
}



.rotated-text-mixed {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: inline-block;
}

.rotated-text-upright {
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: inline-block;
}

.name-text, .name-text-small {
    text-align: center;
    font-size: 3.5em;
    height: 50%;
    font-family:'Helvetica';
    font-weight: 900;
    justify-content: center;
    color:#FFF;
    padding: 0%;
    margin: auto auto;
}

.intro-text, .intro-text-small {
    padding: 10px;
    font-size: 1.3em;
    height: 50%;
    font-family:'Helvetica';
    font-weight: 500;
    color:#FFF;
    margin: auto auto;
    height: auto;
}

.footer-layout {
    margin: 0 auto;
}

#wrapper {
    width: 100%;
    height: 70%;
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto auto;
}

.container {
    border-radius: 35px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.07), 0 7px 14px rgba(0,0,0,0.14);
    box-shadow: 0 2px 4px rgba(0,0,0,0.07), 0 7px 14px rgba(0,0,0,0.14);
}

.main-layout {
    justify-content: center;
    margin: 20px auto;
    width: 80%;
    display: grid;
    grid-template-columns: 206px auto;
    grid-template-rows: auto 80px;
    grid-template-areas:
    "headshot intro"
    "headshot project";
}

.main-layout-small {
    justify-content: center;
    margin: 20px auto;
    width: 80%;
    color: #fff;
}

.main-layout > .headshot {
    text-align: center;
    grid-area: headshot;
    color: #fff;
    background-color: rgba(20, 93, 160,1);
    min-height: var(--grid-vh);
    font: 1.2em sans-serif;
    margin: auto auto;
    margin-left: 0;
}


.main-layout > .intro {
    grid-area: intro;
    min-height: var(--grid-vh);
    font: 1.2em sans-serif;
    background-color: rgba(46, 139, 192,1);
}

.main-layout > .project {
    grid-area: project;
    display: grid;
    margin: 7px 0;
    padding: 0px 0px;
    max-height: fit-content;
    grid-template-columns: 100fr 1fr;
    grid-template-areas:
    "buffer drag";
}

.project > .drag {
    grid-area: drag;
    background-color: rgba(177, 212, 224,1);
    display: inline-block;
    padding: auto;
    min-width: 150px;
    text-align: center;
    font-size: 2em;
    color: rgb(168, 61, 61);
    font-family:'Helvetica';
    font-weight: 600;
    line-height: 1.9;
}



.btn-outline-light{color:#f8f9fa;border-color:#f8f9fa}.btn-outline-light:hover{color:#000;background-color:#f8f9fa;border-color:#f8f9fa}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}@media (prefers-reduced-motion:reduce){.btn{transition:none}}.btn:hover{color:#212529}.btn-check:focus+.btn,.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25)}.btn.disabled,.btn:disabled,fieldset:disabled .btn{pointer-events:none;opacity:.65}

.footer-layout {
    width: 83%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
    "copyright contact"
}

.footer-layout > .copyright {
    text-align: left;
    grid-area: copyright;
    color: #fff;
    padding: 20px;
}

.footer-layout > .contact {
    justify-content: right;
    text-align: right;
    margin: auto auto;
    grid-area: contact;
    padding: 0;
}

#custom-tooltip {
    position: absolute;
    display: none;
    margin: 0px 0px;
    padding: 10px 10px;
    background-color: #000000df;
    border-radius: 4px;
    color: #fff;
}

@media screen and (max-width: 440px) {
    #wrapper{
        height: 0%;
        margin: 0 0;
    }

    .main-layout {
        margin-bottom: 0;
        width: 85%;
        grid-template-areas:
            "headshot headshot"
            "intro intro"
            "project project";
    }


    .main-layout-small > .intro {
        min-height: 60vh;
        min-width: 250px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .project {
        display: none;
        min-width: 250px;
    }

    footer {
        margin: 0 auto;
        min-width: 250px;
    }

}