section {
    scroll-snap-align: start;
}

#nav-overlay{
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(255, 255, 255, 0.8);
    z-index:1
}

.navbutton-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
}

.navbutton-container .navbutton-grid{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-gap: 0.8rem;
}

.navName {
    display: inline-block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: .75em;
    padding-right: 25px;
}

.navbutton-container .navbutton{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 3px solid rgb(255, 174, 0);
    border-radius: 100%;
    cursor: pointer;
    pointer-events: all;
}

.navbutton-container .navbutton:hover{
    background-color:rgba(6, 28, 42, 0.8);
}

.fullpage{
    /*
    scroll-snap-type: y mandatory;
    */
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100vh;
}

#lead{
    scroll-behavior: smooth;
    height: 100vh;
}

.normal {
    color: inherit;
}

/* display copy success message*/
.visuallyhidden{position:absolute;clip:rect(1px,1px,1px,1px)}
.copybutton{background-color:#fff;border:0;outline:0;cursor:pointer;opacity:1;position:absolute;width:40px;height:40px;z-index:9;border-radius:24px}
.button-tooltip-container {
    display: flex;
    align-items: center;
    margin-top: 16px;
    min-height: 30px;
}
#custom-tooltip {
    display: none;
    margin-left: 40px;
    padding: 5px 12px;
    background-color: #000000df;
    border-radius: 4px;
    color: #fff;
}