body,div,p,ul,li{ padding:0; margin:0; list-style:none;}
div{ width:938px; margin:0 auto;padding-left:2px; }
li{
    font-family: 'Zhi Mang Xing', cursive;
    display: inline-block; width:80px; height:80px; 
    font-size:58px; 
    text-align:center; line-height:85px; 
    background:url(./bg12.svg); margin:5px 0px 5px -2px; color:#b8b8b8; }
li.svg{line-height:71px;}
li svg{ magin:8px; vertical-align:middle;
    }
.afterpage{ page-break-before:always;}
.page-head{height: 116px;line-height: 136px; font-size: 32px;text-align: center;display: none;color: #666666}
@media print
{
    .afterpage{ page-break-before:always;}
    .page-head{display: block}
}
@page {
    size: auto;
    margin: 5mm 16mm 5mm 16mm;
}
